:root {
	--primary: #073151;
	--secondary: #37a0ef;
	--secondary__light: rgba(55,160,239,0.5);
	--secondary__very__light:rgba(55,160,239,0.2);
	--complement: #000;
	--light-gray:rgba(132, 133, 134, 0.5);
	--dark: #363f44;
	--font-body: #54626a;
	--white: #fff;
	--blue: #007bff;
	--black: #000;
	--orange: #fd7e14
}
body {
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.hero {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(https://images.unsplash.com/photo-1551718682-d002001a7f26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
}


.container {
    position: absolute;
    top: 24%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* background: yellow; */
}

.form-wrapper {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 16px;
    background: #000;
    color: #fff;
    border-top: 3px solid var(--secondary);

}

.form-wrapper .form-wrapper_content {
    padding-top: 10%;
    padding-bottom: 5%
}

.form-wrapper .form-group {
    margin-bottom: 28px;
}

/* .form-wrapper .form-group:first-child {
    margin-top: 20%;
} */

.form-wrapper .form-group input {
    height: 40px;
    border-radius: 2.5px;
    border: 1px solid #fff;
    font-size: 16px;
    background: #000;
    color: #fff;
    padding-left: 15px;
}

.form-wrapper .form-group input[type=submit] {
    padding-left: 15px;
    width: calc(80% + 15px);
}

.form-wrapper .form-group input[type=submit] {
    background: var(--secondary);
    color: var(--white);
    border: none;
}

.form-wrapper .form-group input:focus,
.form-wrapper .form-group select:focus {
    outline: none;
    background: gray;
}

.form-wrapper .form-group input,
.form-wrapper .form-group label {
    display: block;
    width: 80%;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-left: calc(10% - 7.5px);
    margin-right: 10%;
}

.form-header {
    margin-left: 10%;
}

.form-wrapper .form-group select {
    width:50%;
    height: 40px;
    /* margin-left: 10%; */
     margin-left: calc(10% - 7.5px);
    font-size: 16px;
    background: #000;
    color: #fff;
}

.form-wrapper .form-group label {
    padding: 5px 0;
    color: #d4d8da;
}

.validated input:invalid,
.validated select:invalid,
.validated textarea:invalid {
    border: 1px solid rgb(236, 163, 6);
}
